@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap");

:root {
  --bgbody-color: #14213d;
  --primary-color: #2b6d9547;
  --secondary-color: #f76c6c;
  --btn-stdcolor: #dfdfdf;
  --btn-color-operations: #5c6bc0;
  --btn-color-clear: #f2b239 
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color); 
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  overflow: hidden;
}

body > #bg-body{
  height: 100%;
  width: 100%;
  position: absolute;
  clip-path: polygon(43.28% 0.65%, 99.57% 0.78%, 99.59% 60.11%, 68.19% 99.35%, 5px 99.4%, 8px 0.43%, 23% 18%);
  z-index: -1;
  background-color: var(--bgbody-color);
}

.flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100vw;
  color: #fff;
  height: 100vh;
}

.calculadora-wrapper {
  background-color: var(--primary-color);
  max-width: 640px;
  padding: 20px;
  border-radius: 10px;
}

.calculadora-wrapper__header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora-icon{
  margin: 0 10px;
  width: 32px;
  height: 32px;
}

.calculadora {
  width: 350px;
}

.calculadora input.display {
  font-size: 1em;
  text-align: right;
}

input,
label,
button {
  display: block;
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
  margin-bottom: 10px;
}

input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

input:focus {
  outline: 1px solid black;
}

.btn {
  height: 50px;
  font-size: 1em;
  border: none;
  background: var(--btn-stdcolor);
  cursor: pointer;
}

tr td:nth-last-child(-n+1) > button:not(.btn-eq) {
  background: var(--btn-color-operations);
}

tr td:nth-last-child(-n+1) > button:not(.btn-eq):hover{
  background-color: var(--btn-color-operations); 
  filter: opacity(80%);
}

.btn-eq{
  background-color: var(--secondary-color);
}

.btn-clear{
  background-color: var(--btn-color-clear);
}

.btn-eq:hover, .btn-clear:hover{
  filter: opacity(80%);
}


.btn:hover:not(.btn-eq, .btn-clear) {
  background: #9e9e9e;
}
