@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap");

:root {
  --bgbody-color: #14213d;
  --color-white: #ffffff;
  --primary-color: #2b6d9547;
  --secondary-color: #f76c6c;
  --btn-stdcolor: #dfdfdf;
  --btn-color-operations: #5c6bc0;
  --btn-color-clear: #f2b239
}

* {
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;
}

body,
footer,
p {
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-color);
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  min-height: 100%;
  overflow: auto;
}

body>#bg-body {
  height: 100%;
  width: 100%;
  clip-path: polygon(30.63% 0.96%, 99.57% 0.78%, 99.59% 60.11%, 68.19% 99.35%, 5px 99.4%, 8px 0.43%, 16.53% 15.97%);
  background-color: var(--bgbody-color);
}

@media(max-width: 1024px) {
  body>#bg-body {
    clip-path: polygon(25% 0.8%, 99.57% 0.78%, 99.59% 60.11%, 76.59% 99.35%, 5px 99.4%, 8px 0.43%, 13.33% 11.55%);
  }
}

@media(max-width: 660px) {
  body>#bg-body {
    clip-path: polygon(16.24% 0.95%, 99.57% 0.78%, 99.59% 60.11%, 87.77% 99.20%, 5px 99.4%, 8px 0.43%, 9.1% 6.9%);
  }
}

.flex-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 100vw;
  color: #fff;
  height: 100vh;
}

.calculadora-wrapper {
  background-color: var(--primary-color);
  max-width: 640px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.calculadora-wrapper__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora-icon {
  margin: 0 10px;
  width: 32px;
  height: 32px;
}

.calculadora {
  width: 350px;
}

.calculadora input.display {
  font-size: 1em;
  text-align: right;
}

input,
label,
button {
  display: block;
  font-family: "Chakra Petch", sans-serif;
  width: 100%;
  margin-bottom: 10px;
}

input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

input:focus {
  outline: 1px solid black;
}

.btn {
  height: 50px;
  font-size: 1em;
  border: none;
  background: var(--btn-stdcolor);
  cursor: pointer;
  border-radius: 25px;
}

tr td:nth-last-child(-n+1)>button:not(.btn-eq) {
  background: var(--btn-color-operations);
}

tr td:nth-last-child(-n+1)>button:not(.btn-eq):hover {
  background-color: var(--btn-color-operations);
  filter: opacity(80%);
}

.btn-eq {
  background-color: var(--secondary-color);
}

.btn-clear {
  background-color: var(--btn-color-clear);
}

.btn-clear,
.btn-eq {
  border-radius: 10px;
}

.btn-eq:hover,
.btn-clear:hover {
  filter: opacity(80%);
}


.btn:hover:not(.btn-eq, .btn-clear) {
  background: #9e9e9e;
}

.footer-copyright {
  color: var(--color-white);
  text-align: center;
}